/* Existing App.css */
.App {
  text-align: center;
  /* Optional: you can set padding or other properties as needed */
}

/* Existing App-logo styles */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-image: url('P:\afshari\PROPSALS\HZDR_Project\react\picongpu_react\public\northern-light.jpg'); /* Replace with actual image URL */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* New styles for header with logos */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  position: absolute;
  top: 20px;
  left: 10px;
  right: 10px;
}

.logo-left, .logo-right {
  width: 100px; /* Adjust width  for both logos */
  height: auto; /* Maintain aspect ratio */
}

.logo-left {
  margin-left: 20px;
}

.logo-right {
  margin-right: 20px;
}

/* Style for form elements */
form {
  background-color: rgba(255, 255, 255, 0.8); /* Slight white background */
  padding: 20px;
  border-radius: 10px;
  margin: 50px auto;
  width: 80%;
  max-width: 800px;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
}

/* Style the input fields */
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 16px;
  box-sizing: border-box;
}

input[type="text"]::placeholder {
  color: #888;
  font-style: italic;
}

/* Add some style to the submit button */
button {
  background-color: #4CAF50; /* Green */
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}

/* New styles for footer */
.footer {
  text-align: center;
  padding: 10px;
  font-size: 12px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5); /* Optional: gives a dark transparent background for footer */
}


/*
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/ 







